*{
	box-sizing: border-box;
	position: relative;
}

html{
	height: 100%;
}

body{
	background-color: $baseBackgroundColor;
	font-family: 'Noto Sans KR', sans-serif;
	color: $baseFontColor;
	font-size: $baseFontSize;
	line-height: $baseFontLineHeight;
	font-weight: 300;
	height: 100%;
}

// header
h1{
	font-size: $baseHeadingSize;
	line-height: $baseHeadingSize+10;
	margin: 40px 0 10px;
	font-weight: bold;
	color: $headerColor;

	&:first-child{
		margin: 0 0 10px;
	}


}

h2{
	font-size: headerFontSizeCal(2);
	line-height: headerFontSizeCal(2)+10;
	font-weight: bold;
	margin: 20px 0 10px;
	color: $headerColor;

}

h3{
	font-size: headerFontSizeCal(3);
	line-height: headerFontSizeCal(3)+10;
	font-weight: normal;
	margin: 20px 0 10px;
	color: $headerColor;
}

h4{
	font-size: headerFontSizeCal(4);
	line-height: headerFontSizeCal(4)+10;
	margin: 20px 0 10px;
	color: $headerColor;
}

a{
	text-decoration: none;
	color: $pointColor;
}

b, strong{
	font-weight: bold;
}

p{
	margin-top:$baseMargin/4;
}

i, em{
	font-style: italic;
}

p, ul{
	margin-left: $baseMargin;
}

ul, ol{
	margin-top: $baseMargin;
	li{
		list-style-type: square;
		margin-left: $baseMargin;
		
		p{
			margin-left: 0;
		}

		ul{
			margin-top: 0;
		}
	}
}
ol{
	li{
		list-style: decimal;
	}
}

code{
	background-color: darken($lightBackgroundColor, 5);
	border: solid 1px $lighterBackgroundColor;
	border-radius: $baseRadiusSize;
	padding: 0px 4px 2px;
    display: inline-block;
	line-height:$baseFontSize*1.4;
	text-indent:0;
    // color: $baseWhiteFontColor;
}

//iamges
img{
	max-width: 100%;
}

pre.highlight{
	display: block;
	margin: $baseMargin;	
}

blockquote{
	display: inline-block;
	margin:$baseMargin;
	padding:$baseMargin/2;
	padding-left:$baseMargin;
	border-left:solid 4px $lighterBackgroundColor;
	background-color: darken($lightBackgroundColor, 3);
	background-image: url(/assets/images/quotes.svg);
	background-repeat: no-repeat;
	background-position: $baseMargin/2 $baseMargin/2;
	-webkit-background-size: 20px;
	background-size: 20px;
}