<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% seo %}
	<meta itemprop="image" content="{{page.image}}">
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<!-- include external plugins. -->
	{% include plugins.html %} 
</head>
<body>

	{% include header.html %}
	<div class="wrapper">
		{{content}}
	</div>
	{% include footer.html %}

	<script id="dsq-count-scr" src="//qusi.disqus.com/count.js" async></script>
</body>
</html>