---
layout : default
---
<div class="post-wrapper">
	
	<div class="post-title-background" {% if page.bg != null %} style="background-image: url({{page.bg}});{% endif %}"></div>
	<article class="post">
		<div class="post-header">
			{% if page.image != null %}
				<img class="post-header-thumbnail" src="{{page.image}}">
			{% endif %}
			<h1>{{page.title}}</h1>
			<h2>{{page.subtitle}}</h2>	
			<div class="post-info">
				<p>Post : {{page.date | date: "%b %-d, %Y"}}</p>
				{% if page.tags != null %}<p>Tags : {% for tag in page.tags %}<a href="/logs/tags#{{tag}}" class="tag">{{tag}}</a>{% endfor %}</p>{% endif %}	
			</div>
			
		</div>	
		<div class="post-content clearfix">
			{% if page.toc == true %}
				<div class="toc">
					<p>Table of Content</p>
					{{ content | toc_only }}
				</div>
			{% endif %}
			{{ content | inject_anchors }}


			<div class="ad-scrapper">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- blog -->
				<ins class="adsbygoogle"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="ca-pub-4202279120802735"
					 data-ad-slot="9201996002"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>

		{% include disqus.html %}
		{% include related.html %}
		
	</article>

</div>

<!-- heading anchor -->
<script>
	$(function() {
	  return $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
	    var $el, icon, id;
	    $el = $(el);
	    id = $el.attr('id');
	    icon = '<i class="fa fa-link"></i>';
	    if (id) {
	      return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
	    }
	  });
	});
</script>